body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 10%;
}

button {
    padding: 50px;
    background-color: black;
    border: 2px solid black;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
}

#counter {
    font-size: 10em;
    align-items: center;
    display: flex;
    justify-content: center;
}